{% from "macros/form.njk" import checkbox, range, select %}

{% set TONE_FILTER_TYPES = ['lowpass', 'highpass', 'bandpass', 'lowshelf', 'highshelf', 'notch', 'allpass', 'peaking'] %}
{% set TONE_FILTER_ROLLOFFS = [-12, -24, -48, -96] %}
{% set TONE_OSCILLATOR_PREFIXES = ['fm', 'am', 'fat', 'pwm', 'pulse'] %}
{% set TONE_OSCILLATOR_TYPES = ['sine', 'triangle', 'square', 'sawtooth'] %}
{% set TONE_PATTERN_TYPES = ['up', 'down', 'upDown', 'downUp', 'alternateUp', 'alternateDown', 'random', 'randomOnce', 'randomWalk'] %}
{% set TONE_TIME_INTERVALS = ['4n', '8n', '16n'] %}

{% macro detunes(title, id, value=0) %}
  {# set octave = value / 1200 | round(0, 'truncate') #}
  {% set octave = value - (value % 1200) %}
  {# set coarse = (value % 1200) / 100) | round(0, 'truncate') #}
  {% set coarse = (value % 1200) - (value % 100) %}
  {% set fine = value % 100 %}

  {% card title, id %}
    {{ range('Octave', id + '-octave', octave, min=-3600, max=3600, step=1200) }}
    {{ range('Coarse', id + '-coarse', coarse, min=-1200, max=1200, step=100) }}
    {{ range('Fine', id + '-fine', fine, min=-100) }}
  {% endcard %}
{% endmacro %}

{% macro envelope(title, id, attack=0.01, decay=0.1, sustain=0.5, release=1, min=0, max=1, step=0.001) %}
  {% card title, id %}
    {{ range('Attack', id + '-attack', attack, min=min, max=max, step=step) }}
    {{ range('Decay', id + '-decay', decay, min=min, max=max, step=step) }}
    {{ range('Sustain', id + '-sustain', sustain, min=min, max=max, step=step) }}
    {{ range('Release', id + '-release', release, min=min, max=max, step=step) }}
  {% endcard %}
{% endmacro %}

{% macro amplitudeEnvelope(title, id, attack=0.01, decay=0.1, sustain=0.5, release=1) %}
  {% card title, id %}
    {{ envelope('Envelope', id + '-envelope', attack, decay, sustain, release) }}
  {% endcard %}
{% endmacro %}

{# TODO combine LFO and filter macros #}
{% macro autoFilter(title, id, frequency='4n', type='sine', baseFrequency=200, octaves=2.6, filterType='lowpass', filterRolloff=-12, filterQ=1) %}
  {% card title, id %}
    {{ select('Frequency', id + '-frequency', frequency, TONE_TIME_INTERVALS) }}
    {{ select('Type', id + '-type', type, TONE_OSCILLATOR_TYPES) }}
    {{ range('Base frequency', id + '-base-frequency', baseFrequency, min=20, max=2000) }}
    {{ range('Octaves', id + '-octaves', octaves, min=1, max=20) }}
    {{ select('Filter type', id + '-filter-type', filterType, TONE_FILTER_TYPES) }}
    {{ select('Filter rolloff', id + '-filter-rolloff', filterRolloff, TONE_FILTER_ROLLOFFS) }}
    {{ range('Filter Q', id + '-filter-q', filterQ, min=1, max=8) }}
  {% endcard %}
{% endmacro %}

{% macro chorus(title, id, frequency=1.5, delayTime=3.5, depth=0.7) %}
  {% card title, id %}
    {{ range('Frequency', id + '-frequency', frequency, max=10, step=0.001) }}
    {{ range('Delay time', id + '-delay-time', delayTime, max=2, step=0.001) }}
    {{ range('Depth', id + '-depth', depth, max=1, step=0.001) }}
  {% endcard %}
{% endmacro %}

{% macro compressor(title, id, threshold=-24, ratio=12) %}
  {% card title, id %}
    {{ range('Threshold', id + '-threshold', threshold, min=-48, max=0) }}
    {{ range('Ratio', id + '-ratio', ratio, max=20) }}
  {% endcard %}
{% endmacro %}

{% macro delay(title, id, delayTime=0, maxDelay=1) %}
  {% card title, id %}
    {{ range('Delay time', id + '-delay-time', delayTime, max=maxDelay, step=0.001) }}
  {% endcard %}
{% endmacro %}

{% macro feedbackDelay(title, id, delayTime='4n', feedback=0.125) %}
  {% card title, id %}
    {{ select('Delay time', id + '-delay-time', delayTime, TONE_TIME_INTERVALS) }}
    {{ range('Feedback', id + '-feedback', feedback, max=1, step=0.001) }}
  {% endcard %}
{% endmacro %}

{% macro filter(title, id, type='lowpass', rolloff=-12, frequency=350, Q=1) %}
  {% card title, id %}
    {{ select('Type', id + '-type', type, TONE_FILTER_TYPES) }}
    {{ select('Rolloff', id + '-rolloff', rolloff, TONE_FILTER_ROLLOFFS) }}
    {{ range('Frequency', id + '-frequency', frequency, min=10, max=24000) }}
    {{ range('Q', id + '-q', Q, min=1, max=8) }}
  {% endcard %}
{% endmacro %}

{% macro freeverb(title, id, roomSize=0.7, dampening=3000) %}
  {% card title, id %}
    {{ range('Room size', id + '-room-size', roomSize, max=1, step=0.001) }}
    {{ range('Dampening', id + '-dampening', dampening, min=20, max=20000) }}
  {% endcard %}
{% endmacro %}

{% macro frequencyEnvelope(title, id, attack=0.01, decay=0.1, sustain=0.5, release=1, baseFrequency=200, octaves=4, exponent=1) %}
  {% card title, id %}
    {{ envelope('Envelope', id + '-envelope', attack, decay, sustain, release, max=3) }}
    {{ range('Base frequency', id + '-base-frequency', baseFrequency, min=10, max=24000) }}
    {{ range('Octaves', id + '-octaves', octaves, min=1, max=20) }}
    {{ range('Exponent', id + '-exponent', exponent, min=1, max=5) }}
  {% endcard %}
{% endmacro %}

{% macro gain(title, id, gain=1) %}
  {% card title, id %}
    {{ range('Gain', id + '-gain', gain, max=1, step=0.001) }}
  {% endcard %}
{% endmacro %}

{% macro lfo(title, id, frequency='4n', type='sine', min=0, max=1) %}
  {% card title, id %}
    {{ select('Frequency', id + '-frequency', frequency, TONE_TIME_INTERVALS) }}
    {{ select('Type', id + '-type', type, TONE_OSCILLATOR_TYPES) }}
    {{ range('Min', id + '-min', min, min=1, max=20) }}
    {{ range('Max', id + '-max', max, min=1, max=20) }}
  {% endcard %}
{% endmacro %}

{% macro loop(title, id, interval='4n') %}
  {% card title, id %}
    {{ select('Interval', id + '-interval', interval, TONE_TIME_INTERVALS) }}
  {% endcard %}
{% endmacro %}

{% macro noise(title, id, type='white') %}
  {% card title, id %}
    {{ select('Type', id + '-type', type, ['white', 'pink', 'brown']) }}
  {% endcard %}
{% endmacro %}

{% macro omniOscillator(title, id, type='sine', frequency=440, detune=0, phase=0) %}
  {% set prefix = type|parsePrefix(TONE_OSCILLATOR_PREFIXES) %}
  {% set types = TONE_OSCILLATOR_TYPES|mapPrefix(prefix) %}

  {% card title, id %}
    {{ select('Type', id + '-type', type, types) }}
    {# range('Frequency', id + '-frequency', frequency, min=-20, max=20000) #}
    {{ detunes('Detune', id + '-detune', detune) }}
    {{ range('Phase', id + '-phase', phase, min=-180, max=180) }}
  {% endcard %}
{% endmacro %}

{% macro pattern(title, id, pattern='up', interval='4n') %}
  {% card title, id %}
    {{ select('Pattern', id + '-pattern', pattern, TONE_PATTERN_TYPES) }}
    {{ select('Interval', id + '-interval', interval, TONE_TIME_INTERVALS) }}
  {% endcard %}
{% endmacro %}

{% macro transport(title, id, bpm=120, state=false) %}
  {% card title, id %}
    {{ range('BPM', id + '-bpm', bpm, min=60, max=220) }}
    {{ checkbox('State', id + '-state', state) }}
  {% endcard %}
{% endmacro %}
